<div class="change-password-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div *ngIf="form" class="col-md-4">
            <h1>Management Portal</h1>
            <form [formGroup]="form" (submit)="changePassword(form.value)">
                <div class="form-content">
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" formControlName="password" id="old-password" placeholder="Old Password">
                        <app-control-messages [control]="form.controls.password"></app-control-messages>
                        <span *ngIf="errorMessage && errorMessage.password" class="error-message">{{ errorMessage.password }}</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" formControlName="newPassword" id="new-password" placeholder="New Password">
                        <app-control-messages [control]="form.controls.newPassword"></app-control-messages>
                        <span *ngIf="errorMessage && errorMessage.newPassword" class="error-message">{{ errorMessage.newPassword }}</span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" formControlName="confirmPassword" id="confirm-password" placeholder="Repeat Password">
                        <app-control-messages [control]="form"></app-control-messages>
                        <span *ngIf="errorMessage && errorMessage.confirmPassword" class="error-message">{{ errorMessage.confirmPassword }}</span>
                    </div>
                    <div *ngIf="error">
                        <span class="error-message">{{ error }}</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn rounded-btn" [disabled]="!form.valid">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
