<div class="forgot-password-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/nearist.png"/>
      <h1>Management Portal</h1>
      <form role="form" #loginForm="ngForm" (ngSubmit)="sendEmail()">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg"
                   id="email" name="_email" [(ngModel)]="email" placeholder="E-mail">
          </div>
          <div *ngIf="error">
            <span class="error-message">{{ error }}</span>
          </div>
          <div *ngIf="success">
            <span class="success-message">{{ success }}</span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn rounded-btn">Send Email</button>
          </div>
          <div class="form-group">
            <a [routerLink]="['/login']" class="link">I have an account</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
