<div class="modal-header">
  <h4 class="modal-title pull-left">Change Password</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="container">
    <form method="POST" [formGroup]="form" enctype="multipart/form-data" (ngSubmit)="changePassword(form.value)" class="form-horizontal">

      <div class="form-group row">
        <label for="password" class="col-4 col-form-label">Current password</label>
        <div class="col-8">
          <input type="password" class="form-control" formControlName="password" id="password" name="password">

          <app-control-messages [control]="form.controls.password"></app-control-messages>
          <span *ngIf="errorMessage && errorMessage.plainPassword" class="error-message">{{ errorMessage.plainPassword }}</span>
        </div>
      </div>


      <div class="form-group row">
        <label for="new-password" class="col-4 col-form-label">New password</label>
        <div class="col-8">
          <input type="password" class="form-control" formControlName="newPassword" id="new-password" name="new-password">

          <app-control-messages [control]="form.controls.newPassword"></app-control-messages>
          <span *ngIf="errorMessage && errorMessage.newPassword" class="error-message">{{ errorMessage.newPassword }}</span>
        </div>
      </div>


      <div class="form-group row">
        <label for="confirm-password" class="col-4 col-form-label">Confirm password</label>
        <div class="col-8">
          <input type="password" class="form-control" formControlName="confirmPassword" id="confirm-password" name="confirm-password">

          <app-control-messages [control]="form"></app-control-messages>
          <span *ngIf="errorMessage && errorMessage.confirmPassword" class="error-message">{{ errorMessage.confirmPassword }}</span>
        </div>
      </div>


      <div class="form-group row text-center">
        <div class="offset-3 col-9">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div>


